<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h1>{{ page.title }}</h1>
    {% capture written_year %}'None'{% endcapture %}
    {% for post in site.posts %}  
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if year != written_year %}
        <h3>{{ year }}</h3>
        {% capture written_year %}{{ year }}{% endcapture %}
      {% endif %}
      <article>
        {% if post.link %}
          <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
        {% else %}
          <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
          <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
        {% endif %}
      </article>
    {% endfor %}
  </div><!-- /#index -->
  <div id="index">
    <h1>Medium Posts</h1>
      <h3>2019</h3>
        <article>
            <h2><a href="https://towardsdatascience.com/learning-parameters-part-5-65a2f3583f7d" title="gradient-descent">Learning Parameters, Part 5: AdaGrad, RMSProp, and Adam</a></h2>
            <p>Let’s look at gradient descent with adaptive learning rate.</p>
        </article>
        <article>
            <h2><a href="https://towardsdatascience.com/learning-parameters-part-4-6a18d1d3000b" title="gradient-descent">Learning Parameters, Part 4: Tips For Adjusting Learning Rate, Line Search</a></h2>
            <p>Before moving on to advanced optimization algorithms let us revisit the problem of learning rate in gradient descent.</p>
        </article>
        <article>
            <h2><a href="https://towardsdatascience.com/learning-parameters-part-3-ee8558f65dd7" title="gradient-descent">Learning Parameters, Part 3: Stochastic & Mini-Batch Gradient Descent</a></h2>
            <p>Let’s digress a bit from optimizers and talk about the stochastic versions of these algorithms.</p>
        </article>
        <article>
            <h2><a href="https://towardsdatascience.com/learning-parameters-part--2-a190bef2d12" title="gradient-descent">Learning Parameters, Part 2: Momentum-Based & Nesterov Accelerated Gradient Descent</a></h2>
            <p>Let’s look at two simple, yet very useful variants of gradient descent.</p>
        </article>
        <article>
            <h2><a href="https://towardsdatascience.com/learning-parameters-part-1-eb3e8bb9ffbb" title="gradient-descent">Learning Parameters, Part 1: Gradient Descent</a></h2>
            <p>Gradient Descent is an iterative optimization algorithm for finding the (local) minimum of a function.</p>
        </article>
        <article>
          <h2><a href="https://towardsdatascience.com/learning-parameters-part-0-5cfffd647bdc" title="gradient-descent">Learning Parameters, Part 0: Basic Stuff</a></h2>
          <p>A quick look at some basic stuff essential to understand how parameters are learned.</p>
      </article>
      <h3>2018</h3>
        <article>
            <h2><a href="https://towardsdatascience.com/c16b0494a971" title="mouse-cursor">Mouse Cursor Control Using Facial Movements — An HCI Application</a></h2>
            <p>This HCI application in Python(3.6) will allow you to control your mouse cursor with your facial movements, works with a regular webcam. Its hands-free, no wearable hardware or sensors needed.</p>
        </article>
        <article>
          <h2><a href="https://towardsdatascience.com/d5db0deab975" title="">Perceptron Learning Algorithm: A Graphical Explanation Of Why It Works</a></h2>
          <p>In this post I discuss the famous Perceptron Learning Algorithm proposed by Minsky and Papert in 1969. </p>
        </article>
        <article>
          <h2><a href="https://towardsdatascience.com/4d8c70d5cc8d" title="">Perceptron: The Artificial Neuron (An Essential Upgrade To The McCulloch-Pitts Neuron)</a></h2>
          <p> In this post, I talk about the perceptron model proposed before the ‘activation’ part came into the picture.</p>
        </article>
        <article>
          <h2><a href="https://towardsdatascience.com/5fdf65ac5dd1" title="">McCulloch-Pitts Neuron — Mankind’s First Mathematical Model Of A Biological Neuron</a></h2>
          <p>The very first step towards the perceptron we use today was taken in 1943 by McCulloch and Pitts, by "mimicking" the functionality of a biological neuron.</p>
        </article>
        <article>
          <h2><a href="https://towardsdatascience.com/737547f73515" title="">Tutorial: Selfie Filters Using Deep Learning And OpenCV (Facial Landmarks Detection)</a></h2>
          <p>This is a tutorial on how to build a python application that can put various sunglasses on a detected face (I am calling them ‘Selfie Filters’) by finding the Facial Keypoints (15 unique points).</p>
        </article>
        <article>
          <h2><a href="https://towardsdatascience.com/97e697b8fb86" title="">Tutorial: Alphabet Recognition Through Gestures — A Deep Learning and OpenCV Application</a></h2>
          <p>This is a tutorial on how to build a deep learning application that can recognize alphabet written by an object-of-interest (a bottle cap in this case) in real-time.</p>
        </article>
        <article>
          <h2><a href="https://towardsdatascience.com/dbe356ab5d6c" title="">Tutorial: Webcam Paint Application Using OpenCV</a></h2>
          <p>This is a tutorial on how to build an OpenCV application that can track an object’s movement, using which a user can draw on the screen by moving the object around.</p>
        </article>
        <article>
          <h2><a href="https://medium.com/@acl21/c5be9cdb578b" title="">IGNOU’s Post Graduate Diploma in Applied Statistics (PGDAST): Frequently Asked Questions</a></h2>
          <p>The point of this post is to answer questions (once and for all) I get asked about the PGDAST programme (offered by IGNOU).</p>
        </article>
        <article>
          <h2><a href="https://medium.com/@acl21/db44bb8bd4e8" title="">IGNOU’s Post Graduate Diploma in Applied Statistics (PGDAST): Why A Data Science Enthusiast Must Care About it?</a></h2>
          <p>My objective here is to try and break down each and every course offered in the programme and show how they can relate to a learner in the data science field.</p>
        </article>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
